<div class="container-fluid text-center mt-5">
  <h1>Submit Incident</h1>

<div class="form-group">
<%= form_tag("/incident", method: "post") do %>
  <p>
    <%# TODO Add datepicker %>
    <%= label_tag(:date, "Date?") %>
    <%= text_field_tag(:date) %>
  </p>
  <p>
    <%= label_tag(:city, "City?") %>
    <%= text_field_tag(:city) %>
  </p>
  <p>
    <%# TODO https://stackoverflow.com/questions/2774841/best-way-to-add-comments-in-erb %>
    <%= label_tag(:state, "State?") %>
    <%= text_field_tag(:state) %>
  </p>
  <p>
    <%= label_tag(:cop, "Cop Car?") %>
    <%= check_box_tag(:cop) %>
  </p>
  <p>
    <%= label_tag(:source, "Source?") %>
    <%= text_field_tag(:source) %>
  </p>
  <%= submit_tag("Submit") %>
</div>
<% end %>
</div>
